DEBUG=1
SECRET_KEY='aiplanet-hackathon-submission-app'
DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]
POSTGRES_DATABASE_NAME=hackathon_submission
POSTGRES_USER=aiplanet
POSTGRES_PASSWORD=admin
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
